  .contenedor {
    margin-right: auto;
    margin-left: auto;
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .logo-ccd {
    margin-top: 10px;
    margin-left: 10px;
  }

  .logo-ba {
    margin-top: 35px;
    margin-left: -15px;
  }

  .logo-direccion {
    margin-top: 10px;
    margin-right: 10px;
  }

  h1 {
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0px 0px 9px rgba(150, 150, 150, 1);
  }

  .ministerio {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .contenedor-texto {
    width: 650px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .texto {
    font-size: 20px;
    font-weight: 100;
    line-height: 42px;
  }

  .nombre-estudiante {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5px;
  }

  .texto-secundario {
    font-size: 20px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 40px;
  }

  .footer {
    width: 650px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .nombre {
    font-size: 14px;
    font-weight: 600;
  }

  .cargo {
    font-size: 14px;
  }

  html,
  body {
    height: 100%;
  }
  body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
  }
  table {
    width: 1200px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  th,
  td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  th {
    text-align: left;
  }
  tbody td {
    position: relative;
  }

